body {
    margin: 10px auto;
    width: 90%;
}
nav ul, footer ul {
    font-family:'Playfair Display', 'Arial', serif;
    padding: 20px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family: 'Playfair Display', 'Arial', serif;
    color:  #00356b;
}
h2 {
    font-size: 1.5em;
    line-height: 1em;
    font-family: 'Playfair Display', 'Arial', serif;
    color:  #00356b;
}


p {
    font-family: 'Playfair Display', 'Arial', serif;
    font-size: 0.8em;
    line-height: 1em;
    color: #4a4a4a;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1em;
}

ul.posts li {
    list-style: none;
}

.left {
    position:absolute;
    left:0;
    width: 160px;
    background: #f9f9f9;
}

.main {
    position: absolute;
    left:160px; right:0;
    background: #f9f9f9;
}
