body {
    margin: 10px auto;
    width: 90%;
}
nav ul{
    font-family:'Playfair Display', 'Arial', serif;
    padding: 4px;
    list-style: none;
    font-weight: bold;
    font-size: 1em;
}
footer ul{
    font-family:'Playfair Display', 'Arial', serif;
    padding: 1px;
    list-style: none;
    font-weight: bold;
    font-size: 0.5em;
}


td{
  font-size: 0.8em;
  font-family: 'Playfair Display', 'Arial', serif;
  color:  #00356b;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
footer ul li{
    display: inline;
    font-size: 1em;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.5em;
    font-family: 'Playfair Display', 'Arial', serif;
    color:  #00356b;
}
h2 {
    font-size: 1em;
    line-height: 0.2em;
    font-family: 'Playfair Display', 'Arial', serif;
    color:  #00356b;
}
h3 {
    font-size: 0.9em;
    line-height: 0.2em;
    font-family: 'Playfair Display', 'Arial', serif;
    color:  #286dc0;
}



p {
    font-family: 'Playfair Display', 'Arial', serif;
    color: #4a4a4a;
    font-size: 1em;
}

.email{font-size: 0.6em;}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
    margin-left: 160px;
}

ol {
    font-family: 'Playfair Display', 'Arial', serif;
    color: #4a4a4a;
    font-size: 0.7em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1em;
}

ul.posts li {
    list-style: none;
    font-size: 1em;
}

.left {
    padding-left: 10px;
    float:left;
    width: 170px;
    background: #f9f9f9;
}

.right {
    padding-right: 10px;
    float:right;
    width: 170px;
    background: #f9f9f9;
}


.main {
    padding-left: 10px;
    margin-left:170px;
    background: #f9f9f9;
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 1em;
    opacity: 0.9;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}
.share-btn:hover {
  color: #eeeeee;
}
.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}
.share-btn.twitter { background: #55acee; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.github { background: #444444; }
