


<!-- latex math -->
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<!--other scripts  -->

<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script>
$(function(){
 $('a').each(function() {
   if ($(this).prop('href') == window.location.href) {
     $(this).addClass('current');
   }
 });
});
</script>
<script src="/js/tether.min.js"></script>
<script src="/js/drop.min.js"></script>
<script src="/js/tooltip.min.js"></script>
<script>
$(function(){
        $("[data-toggle=popover]").popover({
          container: 'body'
        });
});
/*$(function(){
  $('.carousel').carousel({
      interval: 7000
  });
});*/
</script>
<script>
$(document).ready(function() {
    var pathname = window.location.pathname;

    $("#navlist a").each(function(index) {
        if (pathname.toUpperCase().indexOf($(this).text().toUpperCase()) != -1)
            $(this).addClass("current");
    });

    if ($("a.current").length == 0)
        $("a#index").addClass("current");
});
</script>
