<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>

			  <meta charset="utf-8">
			  <meta http-equiv="X-UA-Compatible" content="IE=edge">
			  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!--SE added , maximum-scale=1, user-scalable=no-->
			  <meta name="description" content="Academic Website">
				<meta name="keywords" content="Optimal Control, Penn, Cornell, Yale, YINS">
			  <meta name="author" content="Soheil Eshghi">

			    <!-- Bootstrap Core CSS -->
			  <link href="/css/bootstrap.css" rel="stylesheet">

			<!-- link to main stylesheet -->
			<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=GFS+Didot" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
			<script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
       </script>

			 <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
			 <script>
			 $(function(){
			   $('a').each(function() {
			     if ($(this).prop('href') == window.location.href) {
			       $(this).addClass('current');
			     }
			   });
			 });
			 </script>


			<link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
			<link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-icon-60x60.png">
			<link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
			<link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-icon-76x76.png">
			<link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png">
			<link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png">
			<link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png">
			<link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
			<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
			<link rel="icon" type="image/png" sizes="192x192"  href="/images/icons/android-icon-192x192.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96x96.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
			<link rel="manifest" href="/images/icons/manifest.json">
			<meta name="msapplication-TileColor" content="#ffffff">
			<meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">
			<meta name="theme-color" content="#ffffff">


			<!--
			<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type="text/css" href="/css/main.css">
       -->
			{% include analytics.html %}
		</head>
		<body style="background-color:#f9f9f9">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
					<div class="container">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
									</button>
									<a href="/" class="navbar-brand"><img src="/images/soheil.jpg" align="left" width="30" height="30" class="d-inline-block; padding-right:30px;" style="background-color:#00356b;">Soheil Eshghi</a>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav">
														<li><a href="/"><i class="fa fa-home"></i></a>
														</li>
														<li><a href="/publications/">Publications</a></li>
														<li><a href="/research/">Research</a></li>
														<li class="dropdown">
																<a data-toggle="dropdown" class="dropdown-toggle" href="#">Service<span class="caret"></span></a>
																<ul role="menu" class="dropdown-menu">
																			<li><a href="/service/">Academic</a></li>
																			<li><a href="/service/professional">Professional</a></li>
																			<li><a href="/service/teaching">Teaching</a></li>
																	</ul>
														</li>
														<li><a href="/blog/">Blog</a></li>
									</ul>
							</div>
							<!-- /.navbar-collapse -->
					</div>
					<!-- /.container -->
			</nav>
			<div class="container">

			{{ content }}


	   	</div>

			<!-- jQuery -->
			<script src="/js/jquery.js"></script>

			<!-- Bootstrap Core JavaScript -->
			<script src="/js/bootstrap.min.js"></script>
			<!--<br>
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/soheileshghi">github.com/soheileshghi</a></li>
							<li>{% include twitter.html %}</li>
				</ul>
			</footer>
		-->
		</body>
	</html>
