<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">

			<!--
			<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type="text/css" href="/css/main.css">
       -->
			{% include analytics.html %}
		</head>
		<body style="background-color:#f9f9f9">

			<div class="left">

				<img src="/images/soheil.png" style="width:150px;" align="left"><br>


				<h1>Soheil Eshghi <br>(<a href="/cv/cv.pdf">CV</a>)</h1><p>Postdoctoral Associate<br><a href="http://yins.yale.edu/">Yale Institute for Network Science</a><br>17 Hillhouse Ave,<br> New Haven, CT 06520<br>soheil.eshghiATyaleDOTedu</p>

		</div><!-- /.container -->
			<div class="main">
				<nav>
						<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/research">Research</a></li>
								<li><a href="/publications">Publications</a></li>
								<li><a href="/teaching">Teaching</a></li>
								<li><a href="/service">Service</a></li>
								<li><a href="/blog">Blog</a></li>
						</ul>
				</nav>

			{{ content }}

			</div><!-- /.container -->
			<br>
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/soheileshghi">github.com/soheileshghi</a></li>
							<li>{% include twitter.html %}</li>
				</ul>
			</footer>
		</body>
	</html>
