<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>


			{% include head.html %}
			{% include scripts.html %}
			{% include analytics.html %}
		</head>
		<body style="background-color:#f9f9f9">
			<div class="visible-xs">
				<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
						<div class="container-fluid">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
										</button> <!--class="d-inline-block; padding-right:30px;"-->
										<a href="/" class="navbar-brand mx-auto">
											<!--<p class="navbar-text">-->
												<img src="/images/soheil.jpg" align="left" width="30" height="auto" padding-bottom="0" padding-top="0" padding-right="0" style="background-color:#00356b;">
												<a href="/" class="navbar-brand mx-auto" style="padding-bottom:7px !important; font-family: 'Montserrat', sans-serif;">
													<!--<p class="navbar-text">-->
														Soheil Eshghi, PhD
													<!--</p>-->

												</a>
											<!--</p>-->

										</a>
								</div>
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										<ul class="nav navbar-nav">
															<!--<li class="nav-item"><a href="/"><i class="fa fa-home"></i></a>
															</li>
															<li class="nav-item"><a href="/professional">Professional</a></li>-->
															<li class="nav-item"><a href="/research/">Research</a></li>
															<li class="nav-item"><a href="/teaching-service/">Teaching & Service</a></li>
															<li class="nav-item"><a href="/publications/">Publications</a></li>
															<!--<li class="nav-item"><a href="/service/">Service</a></li>-->
															<!--<li class="nav-item"><a href="/blog/">Blog</a></li> -->
															<!--<li class="nav-item">
																<a href="/cv">CV</a>
															</li>-->





											<!--<li class="nav-item">
												<p class="navbar-text">	soheil.eshghiATyaleDOTedu </p>

											</li>-->
										</ul>
								</div>

								<!-- /.navbar-collapse -->
						</div>
						<!-- /.container -->
				</nav>
			</div>
			<div class="hidden-xs">
				<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

					  <!--{% for item in site.navigation %}
					      {% assign class = nil %}
					      {% if page.url contains item.url %}
					          {% assign class = 'active' %}
					      {% endif %}
					      <a href="{{ item.url }}" class="{{ class }}">
					          {{ item.title }}
					      </a>
					  {% endfor %}-->



						<div class="container-fluid">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
										</button> <!--class="d-inline-block; padding-right:30px;"-->
										<a href="/" class="navbar-brand mx-auto" style="padding-top:22px !important; padding-bottom:5px !important; font-family: 'Montserrat', sans-serif;">
											<!--<p class="navbar-text">-->
												Soheil Eshghi, PhD
											<!--</p>-->

										</a>
								</div>
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										<ul class="nav navbar-nav">
															<!--<li class="nav-item"><a href="/"><i class="fa fa-home"></i></a>
															</li>-->
															<!--<li class="nav-item"><a href="/teaching">Teaching</a></li>
															<li class="nav-item"><a href="/professional">Professional</a></li>-->
															<li class="nav-item"><a href="/research/">Research</a></li>
															<li class="nav-item"><a href="/teaching-service/">Teaching & Service</a></li>
															<li class="nav-item"><a href="/publications/">Publications</a></li>

														<!--	<li class="nav-item dropdown">
																	<a data-toggle="dropdown" class="dropdown-toggle" href="#">Service<span class="caret"></span></a>
																	<ul role="menu" class="dropdown-menu">
																				<li><a href="/service/">Academic</a></li>
																				<li><a href="/service/professional">Professional</a></li>
																				<li><a href="/service/teaching">Teaching</a></li>
																		</ul>
															</li>

															<li class="nav-item"><a href="/blog/">Blog</a></li>
															-->
										</ul>
										<ul class="nav navbar-nav navbar-right">
											<li class="nav-item">
													<img src="/images/soheil.jpg" align="left" width="30" height="30" padding-bottom="0" padding-top="0" style="background-color:#00356b;" class="hidden-lg-up">

											</li>
										</ul>
								</div>

								<!-- /.navbar-collapse -->
						</div>
						<!-- /.container -->
				</nav>
			</div>



			<div class="container-fluid">

			{{ content }}


	   	</div>

			<!-- jQuery -->
			<script src="/js/jquery.js"></script>

			<!-- Bootstrap Core JavaScript -->
			<script src="/js/bootstrap.min.js"></script>
			<br>
			<footer>
	    		<ul>
	        		<!--<li><a href="https://github.com/soheileshghi">github.com/soheileshghi</a></li>
							<li>{% include twitter.html %}</li>-->
							<li> Updated: January 8, 2024
				</ul>
			</footer>

		</body>
	</html>
