---
layout: default
---
   <div class="row no-gutters">
			<div class="hidden-xs col-sm-4 col-md-3 col-lg-2"> <!--SE nopadding-->
        <!--<div class="row center">-->
        <div class="text-center">

				  <a href="/"><img src="/images/soheil.png" alt="Soheil Eshghi" align="left" class="img-responsive" style="padding-bottom: 10px; display: inline-block"></a><br><br><br><br><br><br><br><br>
        </div>

      <!--  </div>
        <div class="row center">-->
           <span class="text">
        				<h2 class="display-4"><a href="/">Soheil Eshghi</a><br>
                  (<a href="/cv" style="text-decoration: underline;">CV</a>)</h2>
                <h4 style="color:  #00356b;">Postdoctoral Associate<br><br><a style="text-decoration: underline;" href="http://yins.yale.edu/">Yale Institute for<br> Network Science (YINS)</a><br><br>17 Hillhouse Ave,<br> New Haven, CT 06520</h3>
                <h3 class="email">soheil.eshghiATyaleDOTedu </h4><br>
            </span>
          <!--</div>-->
          <div class="center-block" style="padding-bottom: 10px;">
        				<!--<div class="center">-->
                				<!-- Twitter -->
                        <a href="https://www.twitter.com/SoheilEshghi" target="_blank" class="share-btn twitter">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <!-- LinkedIn -->
                        <a href="https://www.linkedin.com/in/eshghi" target="_blank" class="share-btn linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>

                        <!-- Github -->
                        <a href="https://github.com/SoheilEshghi" target="_blank" class="share-btn github">
                            <i class="fa fa-github"></i>
                        </a>
                				<!-- Google scholar -->
                        <a href="https://scholar.google.com/citations?user=hptqnZ8AAAAJ&hl=en" target="_blank" class="share-btn scholar">
                            <img src="/images/gscholar.png" style="height:15px;">
                        </a>
			        <!--</div>-->
          </div>
		</div><!-- /.container -->
	<!--</div>--><!-- /.container -->


    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">

      <!-- Page Content -->




          {{ content }}

          </div><!-- /.container -->
        <!--</div>
      </div>-->
    </div>
    <!-- /.container -->
