---
layout: default
---

			<div class="col-xs-12 col-sm-2">
        <div class="row center">

				  <a href="/"><img src="/images/soheil.png" align="center" class="img-responsive" style="padding-bottom: 10px;"></a>

        </div>
        <div class="row center">
           <span class="text-nowrap">
        				<a href="/"><h1>Soheil Eshghi</a> (<a href="/cv" style="text-decoration: underline;">CV</a>)</h1><p class="small">Postdoctoral Associate<br><a style="text-decoration: underline;" href="http://yins.yale.edu/">Yale Institute for<br> Network Science (YINS)</a><br>17 Hillhouse Ave,<br> New Haven, CT 06520</p><p class="email">soheil.eshghiATyaleDOTedu</p>
            </span>
          </div>
          <div class="row center" style="padding-bottom: 10px;">
        				<div class="center">
                				<!-- Twitter -->
                        <a href="https://www.twitter.com/SoheilEshghi" target="_blank" class="share-btn twitter">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <!-- LinkedIn -->
                        <a href="https://www.linkedin.com/in/eshghi" target="_blank" class="share-btn linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>

                        <!-- Github -->
                        <a href="https://github.com/SoheilEshghi" target="_blank" class="share-btn github">
                            <i class="fa fa-github"></i>
                        </a>
                				<!-- Google scholar -->
                        <a href="https://scholar.google.com/citations?user=hptqnZ8AAAAJ&hl=en" target="_blank" class="share-btn scholar">
                            <img src="/images/gscholar.png" style="height:15px;">
                        </a>
			        </div>
          </div>
		</div><!-- /.container -->


    <div class="col-xs-12 col-sm-10">

      <!-- Page Content -->
      <div class="container-fluid"><!--SE added fluid-->
				<div class="body">




          {{ content }}

				    </div><!--body-->
          </div><!-- /.container -->
        </div>
      </div>
    </div>
    <!-- /.container -->
