---
layout: default
---
   <div class="row no-gutters">
			<div class="hidden-xs col-sm-4 col-md-3 col-lg-2"> <!--SE nopadding-->
        <!--<div class="row center">-->
        <div class="text-center">

				  <a href="/"><img src="/images/soheil2.jpg" alt="Soheil Eshghi" align="left" class="img-responsive" style="padding-bottom: 10px; display: inline-block"></a><br><br><br><br><br>
        </div>

      <!--  </div>
        <div class="row center">-->
           <span class="text">
        				<h2 class="display-4"><a href="/">Soheil Eshghi</a><br>
                  </h2>
                  <p class="author__bio" itemprop="description">
                    I am a postdoc in the <a  href="http://www.crawfordlab.io/" class="sidebar">Crawford Lab</a> at the <a href="https://publichealth.yale.edu/"> Yale School of Public Health (YSPH) </a>.
                  </p>
            </span>
          <!--</div>-->

          <div class="center-block" style="padding-bottom: 10px;">
        				<!--<div class="center">-->

                        <a href="/cv" target="_blank">
                          <i class="ai ai-cv ai-sm"></i>
                             &nbsp; CV
                        </a> <br>

                        <!-- Google scholar -->
                        <a href="https://scholar.google.com/citations?user=hptqnZ8AAAAJ&hl=en" target="_blank">
                          <i class="ai ai-google-scholar-square ai-sm"></i>
                             &nbsp; Google Scholar
                        </a> <br>


                        <a href="https://www.twitter.com/SoheilEshghi" target="_blank">
                            <i class="fa fa-link"> </i> &nbsp; Website
                        </a> <br>


                        <a href="https://www.twitter.com/SoheilEshghi" target="_blank">
                            <i class="fa fa-twitter"> </i> &nbsp; Twitter
                        </a> <br>


                        <!-- LinkedIn -->
                        <a href="https://www.linkedin.com/in/eshghi" target="_blank">
                            <i class="fa fa-linkedin"></i> &nbsp; Linkedin
                        </a>  <br>

                        <!-- Github -->
                        <a href="https://github.com/SoheilEshghi" target="_blank">
                            <i class="fa fa-github"></i> &nbsp; Github
                        </a> <br>

                        <a href=" https://orcid.org/0000-0003-4216-3169" target="_blank">
                          <i class="ai ai-orcid ai-sm"></i>
                            <!--<img src="/images/gscholar.png" style="height:15px;">--> &nbsp; ORCID
                        </a> <br>


                        <br>

                        <a href="#contact" class="btn btn-primary" data-toggle="collapse" data-trigger="focus" role="button">Contact</a>
                        <div id="contact" class="collapse">
                              <h4 style="color:  #00356b;">1 Church St,<br> Third Floor Room 340,<br> Crawford Lab,<br> New Haven, CT 06510</h4>
                              <h4 class="email">soheil.eshghi<br>ATyaleDOTedu </h4>
                        </div>
			        <!--</div>-->
          </div>
		</div><!-- /.container -->
	<!--</div>--><!-- /.container -->

  <div class="col-xs-12 hidden-sm hidden-md hidden-lg"> <!--SE nopadding-->
    <!--<div class="row center">-->
    <div class="text-left">

      <a href="/"><img src="/images/soheil.png" alt="Soheil Eshghi" align="left" class="img-responsive" style="padding-bottom: 10px; padding-right: 10px; display: inline-block"></a>
      <p class="author__bio" itemprop="description">
        <br> I am a postdoc in the <a  href="http://www.crawfordlab.io/" class="sidebar">Crawford Lab</a> at the <a href="https://publichealth.yale.edu/"> Yale School of Public Health (YSPH) </a>.
      </p>

      <a href="#contact1" class="btn btn-primary" data-toggle="collapse" data-trigger="focus" role="button">Contact</a> &nbsp;
      <a href="/cv" target="_blank">
        <i class="ai ai-cv ai-lg"></i>
      </a> &nbsp;

      <!-- Google scholar -->
      <a href="https://scholar.google.com/citations?user=hptqnZ8AAAAJ&hl=en" target="_blank">
        <i class="ai ai-google-scholar-square ai-lg"></i>
      </a> &nbsp;


      <a href="https://soheileshghi.com" target="_blank">
          <i class="fa fa-link"> </i>
      </a> &nbsp;


      <a href="https://www.twitter.com/SoheilEshghi" target="_blank">
          <i class="fa fa-twitter"> </i>
      </a> &nbsp;


      <!-- LinkedIn -->
      <a href="https://www.linkedin.com/in/eshghi" target="_blank">
          <i class="fa fa-linkedin"></i>
      </a> &nbsp;

      <!-- Github -->
      <a href="https://github.com/SoheilEshghi" target="_blank">
          <i class="fa fa-github"></i>
      </a> &nbsp;

      <div id="contact1" class="collapse">
            <p style="color:  #00356b;">17 Hillhouse Ave, New Haven, CT 06520</p>
            <p class="email">soheil.eshghiATyaleDOTedu </p>
      </div>
      <p></p>
    </div>
  </div>


    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">

      <!-- Page Content -->




          {{ content }}

          </div><!-- /.container -->
        <!--</div>
      </div>-->
    </div>
    <!-- /.container -->
